body{
	background: white;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	background: #121221;
	color:white;
}
 
a{
	color:white;
	text-decoration: none;

}

#death-screen{
	height: 500px;
	width: 100%;
	background-color: #00004d;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#death{
	opacity: 0%;
}


.spacer{
	width: 100%;
	height: 50%;
}

#respawn-button{
	padding: 15px;
	border: 3px solid white;
	color: white;
	font-weight: bold;
	background-color: #00004d;
	border-radius: 10px;
	font-size: 1.2em;
}

#respawn-button:hover{
	cursor: pointer;
}

#header{
	font-size: 30px;

	border:none;
	background:#2d2d52;
	padding:15px;

	height:auto;
	width:100%;

	position: fixed;
	margin:0px;
	left:0px;
	top:0px;

	z-index:100;
}

#headerpic{
	margin:0px;
	left:0px;
	position:relative;
}


.start{
	position:relative;
	top:70px;
	width:30%;


	border:none;
	background:#2d2d52;
	padding:15px;
	margin:5px;


	font-size: 20px;
	font-weight: normal;
	text-align: center;

	color:white;
	display:inline-block;
	position:relative;
}

#signin{
	width:40%;
	margin-left:30%;
	margin-right: 30%;
	top:130px;

	border:none;
	padding:10px;
	font-size: 15px;

	position:absolute;

	color:transparent;
	background:transparent;
	display:none;
}

#signup{
	width:40%;
	margin-left:30%;
	margin-right: 30%;
	margin-bottom:1000px;
	top:130px;

	border:none;
	padding:10px;
	font-size: 15px;

	position:absolute;

	color:transparent;
	background:transparent;
	display:none;
}



#yes{
	position:relative;

	background:transparent;
	border: 0px transparent;
	color:transparent;
	width:50%;
	left:50%;
	transform: translate(-50%);


	padding-top:20px;
	top:50px;

	position:relative;
}

.password{
	width:50%;
	height:30px;
	margin-top:10px;
	/*margin-left:25%;
	margin-right: 25%;*/
	left:50%;
	transform: translate(-50%);

	border:none;
	padding:5px;
	font-size: 15px;

	position:absolute;

	color:transparent;
	background:transparent;
	display:none;

	
}
.username{
	height:30px;
	width:50%;
	left:50%;
	transform: translate(-50%);
	margin-top:10px;

	border:none;
	padding:5px;
	font-size: 15px;

	position:absolute;

	color:transparent;
	background:transparent;
	display:none;

}

#password{
		top:70px;
}


.animation{
	display:block;
	animation: movement 1s;
	animation-iteration-count: 1;

	animation-fill-mode: forwards;
	/*color:red;
	background:white;
	display:block;*/
}


@keyframes movement{
	from{color:transparent; background:transparent; }
	to{color:black; background:white; }
}

.death-animation{
	animation: deathFade 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes deathFade{
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}


#spacer {
 	height:100px;
 	width:100%;

 	background-color: transparent;
 
 	position: relative;
 	z-index: -1;
 	/*box-shadow: 1px 1px 40px  #404040;*/

 }


#footer{
	font-size: 15px;

	border:none;
	background:#2d2d52;
	padding:15px;

	height:auto;
	width:100%;

	position: fixed;
	margin:0px;
	left:0px;
	bottom:0px;
}
